@font-face{
  font-family: "Monserrat-M";
  src: url("../../public/font/Montserrat-Medium.ttf");
}

@font-face{
  font-family: "Monserrat-SB";
  src: url("../../public/font/Montserrat-SemiBold.ttf");
}

@font-face{
  font-family: "Monserrat-B";
  src: url("../../public/font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Unbounded-B";
  src: url('../../public/font/Unbounded-Bold.ttf');
}

@font-face {
  font-family: "Unbounded-M";
  src: url('../../public/font/Unbounded-Medium.ttf');
}

@font-face {
  font-family: "Unbounded-R";
  src: url('../../public/font/Unbounded-Regular.ttf');
}

:root {
  --Monserrat-M: "Monserrat-M";
  --Monserrat-SB: "Monserrat-SB";
  --Monserrat-B: "Monserrat-B";
  --Unbounded-B: "Unbounded-B";
  --Unbounded-M: "Unbounded-M";
  --Unbounded-R: "Unbounded-R";
  

  --gray: #393939;
  --background-color: #090808;
  --button-color: rgb(105, 119, 250);
  --button-hover-color: rgba(105, 119, 250, .8);
  --border-color: rgb(225, 230, 239);
  --while-20: #212121;
  --green: #27bc8f;
  --while-100: #ffffff;
  --while-80: #CECECE;
  --while-60: #9C9C9C;
  --while-10: #ffffff1d;
}


.main-main {
  opacity: 1;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.main-main.visible {
  opacity: 1;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.header {
  transition: all 0.3s ease;
  margin-bottom: 10px;
  margin-top:24px;
  width: 1322px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-or-nav {
  font-family: "Monserrat-SB";
  display: flex;
}

.logo {
  font-family: "Monserrat-SB";
  font-size: 26px;
  color: white;
}

.container {
  width: 1322px;
  margin: auto auto;
}

.UnBMain {
  font-family: "Unbounded-B";
  font-size: 48px;
  margin: 0px 0px 24px 0px;
}

.MoMeMain {
  font-family: "Monserrat-M";
  font-size: 24px;
  margin: 0px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.nav .nav-main{
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.textmain {
  color: white;
  margin: 300px 0px 0px 0px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
}



.dowlauncher {
  width: 290px;
  height: 70px;
  border-radius: 27px;
  border: none;
  background-color: #ffffff1b;
  color: white;
  font-family: "Monserrat-SB";
  font-size: 23px;
  padding: 21px 25px;
  transition: all 0.3s;
}

.dowlauncher img {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}

.login-btn button {
  width: 142px;
  height: 64px;
  border-radius: 27px;
  border: none;
  background-color: #212121;
  color: white;
  font-family: "Monserrat-M";
  font-size: 18px;
}

.mainbutton {
  display: flex;
  margin: 55px 0px 0px 0px;
}

.ktomi {
  color: white;
}

.ktomi1 {
  font-family: "Unbounded-B";
  font-size: 36px;
}

.ktomi2 {
  font-family: "Monserrat-M";
  font-size: 24px;
  color: #CFCFCF;
}

.container2 {
  padding-top: 110px;
  padding-bottom: 110px;
}

.container2 {
  width: 1322px;
  margin: auto auto;
}

.mainbutton {
  margin-bottom: 100px;
}


.main {
  width: 659px;
}

.main-index {
  display: flex;
  justify-content: space-between;
}

.nicadmina {
  font-family: "Monserrat-B";
  font-size: 40px;
  color: #fff;
  margin: 0;
  margin-right: 30px;
}

.textadmina {
  font-family: "Monserrat-M";
  font-size: 24px;
  color: #D1D1D1;
  text-align: center;
}

.doljnost {
  width: 191px;
  height: 37px;
  border-radius: 8px;
  font-family: "Unbounded-M";
  font-size: 20px;
  border: solid 2px #27BC8F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doljnost p{
  margin: 0;
  color: #27BC8F;
}

.admin-or-dev {
  background-color: #1B1B1B;
  border-radius: 27px;
  
}

.mainicon {
  width: 427px;
  height: 517px;
  border-radius: 27px;
  background-image: linear-gradient(192deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
  margin-top: 351px;
}

.name-admin {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

.image-flaim {
  position: absolute;
  border-radius: 27px;
  z-index: 99;
  background-size: 100%;
  top: 120px;
  right: 10px;
}

.admin-or-dev {
  margin-top: 257px;
}

.ktomi2 {
  line-height: 1.42;
}

.MoMeMain {
  line-height: 1.42;
}

.login-btn img {
  width: 19px;
  height: 20px;
  margin-right: 15px;
}

.login-btn div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.vopros img{
  width: 514.28px;
  height: 514.28px;
}

.admin-or-dev {
  height: min-content;
  width: 780px;
}


.textadmina {
  margin-top: 24px;
  margin-bottom: 0;
  line-height: 1.42;
}


.head {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
  border-radius: 4px;
}

.admin-image {
  width: 520px;
  height: 600px;
  border-radius: 27px;
  margin-top: 257px;
  margin-bottom: 373px;
  position: relative;
}

.container3 {
  display: flex;
  justify-content: space-between;
}

.line {
  width: 723px;
  height: 2px;
  background-color: #393939;
  border-radius: 27px;
}

.faq-link {
  width: 520px;
  background-color: #ffffff01;
  border: solid 2px #3B3B3B;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.container4 {
  display: flex;
  justify-content: space-between;
  padding: 90px 0 190px 0;
}

.cont-faq {
  padding-left: 35px;
  padding-right: 60px;
}

.strelca {
  width: 19px;
  height: 30px;
}

.cont-faq {
  margin: 24px 0 24px 0;
}

.row {
  width: 410px;
  height: 290px;
}

.title-text {
  font-family: "Unbounded-B";
  font-size: 30px;
  color: #fff;
}

.description-text {
  font-family: "Monserrat-M";
  font-size: 24px;
  color: #CFCFCF;
}

.link-pos {
  display: flex;
}

.link-pos img{
  justify-content: end;
}

.image-link {
  display: flex;
  justify-content: end;
}

.dicord-image {
  width: 700px;
  height: 460px;
  background-color: #212121;
  border-radius: 27px;
}

.discord {
  display: flex;
  justify-content: space-between;
}

.title-text-discord {
  font-family: "Unbounded-B";
  font-size: 36px;
  color: #fff;
  margin: 20px 0 24px 0;
}

.description-text-discord {
  font-family: "Monserrat-M";
  font-size: 24px;
  color: #fff;
  line-height: 1.42;
  color: #CFCFCF;
  margin: 0 0 35px 0;
}

.btn-join {
  background-color: #212121;
  border: none;
  border-radius: 27px;
  color: #FFFFFF;
  padding: 21px 25px;
  font-size: 18px;
  font-family: "Monserrat-SB";
}

.btn-join img{
  margin-left: 9px;
}


.subworld-logo-footer {
  justify-content: center;
  display: flex;
}

.footer-div {
  height: 328px;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  font-family: "Monserrat-SB";
  font-size: 26px;
  margin-bottom: 196px;
  margin-top: 55px;
  color: #FFFFFF;
}

.lic {
  font-family: "Monserrat-M";
  font-size: 18px;
  color: #CFCFCF;
}

.catalog-text {
  margin-top: 50px;
  font-size: 24px;
  color: white;
  font-family: "Monserrat-SB";
}

.catalog-or-contact {
  display: flex;
}

.catalog-or-contact a {
  font-size: 18px;
  font-family: "Monserrat-M";
  text-decoration: none;
  color: #CFCFCF;
  margin-bottom: 10px;
}

.catalog-or-contact a {
  margin-bottom: 10px;
  display: block;
}

.mainicon {
  position: relative;
  overflow: hidden;
}

.mainicon::after {
  position: relative;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.mainicon:hover::after {
  opacity: 1;
}


.mask {
  width: 427px;
  height: 517px;
  border-radius: 27px;
  overflow: hidden;
  position: relative;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #535353;
}

.container-header {
  width: 1322px;
  margin: auto auto;
}


.container-header {
  width: 1402px;
  margin: auto auto;
  background-color: #ffffff07;
  border-radius: 27px;
  display: flex;
  z-index: 999;
  justify-content: center;
}

.header-fixed {
  position: fixed;
}

.header-fixed {
  width: 100%;
  display: flex;
  justify-content: center;
}


.container-header {
  position: relative;
}

.bstartgame {
  margin: 0px 18px 0px 0px;
  width: 225px;
  height: 70px;
  border-radius: 27px;
  border: none;
  background-image: linear-gradient(268deg,rgba(83,187,190,1)0%,rgba(39,188,143,1)100%);
  color: white;
  font-family: "Monserrat-SB";
  font-size: 23px;
  padding: 21px 25px;
  transition: all 0.3s;
}

.bstartgame:hover { 
  transform: scale(1.1);
}

.dowlauncher:hover {
  background-color: #ffffff2b;
}

.stroke-path-home {
  stroke: #27BC8F;
  stroke-width: 2px;
}

.nav-activ{
  color: var(--while-100);
  text-decoration: none;
}

.nav-activ-img {
  color: #27BC8F;
  text-decoration: none;
}

.nav-no-activ{
  color: #ADADAD;
  text-decoration: none;
}

.nav-main svg{
  margin-right: 15px;
}

.nav svg {
  margin-right: 15px;
}

.stroke-path-new {
  stroke: #ADADAD;
  stroke-width: 2px;
}

.check {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1.5rem;
  margin: auto auto;
}


.container2 {
  opacity: 0;
  transform: translateY(25px) scale(.9);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.container2.animated {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.container3 {
  opacity: 0;
  transform: translateY(25px) scale(.9);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.container3.animated {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 1s ease-out, transform 1s ease-out;
}


.container4.animated {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.discord {
  opacity: 0;
  transform: translateY(25px) scale(.9);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.discord.animated {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.dicord-image {
  margin-bottom: 370px;
}

.admin-image {
  background-image: linear-gradient(113deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
}
  
.subworld-blur {
  position: absolute;
  filter: blur(200px);
  z-index: -1;
}
.subworld-logo-footer {
  position: relative;
}

.vopros-blur {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  filter: blur(100px);
  opacity: 0.5;
  right: 30%;
  top: 20%;
}

.cont-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vopros {
  position: relative;
}

.admin-or-dev-cont {
  margin: 65px 91px 36px 53px;
  width: 636px;
}

.admin-image {
  overflow: hidden;
  position: relative;
}

.admin-image img {
  position: absolute;
  top: 180px;
  left: 50px;
}

.admin-or-dev {
  width: 778px;
  height: 598px;
}

.line-admin {
  width: 510px;
  height: 2px;
  background-image: linear-gradient(271deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 50%, rgba(255, 255, 255, 0) 100%);
  margin: 108px auto 0px;
}

.adminavatar {
  margin-top: 40px;
  transform: scale(110%);
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.dicord-image{
  display: flex;
  justify-content: center;
}

.dicord-image img{
  width: 236px;
}

.head {
  transition: all 1s ease;
}


.activ-head {
  filter: grayscale(0%);
  margin-bottom: 25px;
}

.green-line {
  width: 100%;
  height: 8px;
  background-color: #27BC8F;
  position: fixed;
  z-index: 999;
}

.container1 {
  background-color: #151515;
}

/* owo {
  
⠀⠀⠀⣿⣿⡆⠀⠀⢸⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⢸⣿⡇⠀⠀⣾⣿⡆⠀
⠀⠀⠀⣿⣿⡇⠀⠀⢸⣿⢰⣿⡆⠀⣾⣿⡆⠀⣾⣷ ⣿⣿⡇⠀⠀⣿⣿⡇⠀
⠀⠀⠀⣿⣿⡇⠀⠀⢸⣿⠘⣿⣿⣤⣿⣿⣿⣤⣿⡇⢻⣿⡇⠀⠀⣿⣿⡇⠀
⠀⠀⠀⣿⣿⡇⠀⠀⢸⡿⠀⢹⣿⣿⣿⣿⣿⣿⣿⠁⢸⣿⣇⠀⢀⣿⣿⠇⠀
⠀⠀⠀⠙⢿⣷⣶⣶⡿⠁⠀⠈⣿⣿⠟⠀⣿⣿⠇⠀⠈⠻⣿⣶⣾⡿⠋⠀⠀
} */

.admin-image img{
  transition: all 0.8s ease;
}


.admin-image:hover img{
  background-size: 100%;
  transform: translateY(-60px);
}

.admin-image:hover {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
}

.p-description {
  font-family: "Monserrat-M";
  font-size: 20px;
  color: #CFCFCF;
  line-height: 1.70;
}

.cont-a p{
  font-family: "Monserrat-SB";
  color: white;
  font-size: 24px;
  margin: 0;
}

.strelca1 {
  transform: rotate(90deg);
} 

.strelca1.strelca1-back {
  transform: rotate(0deg);
}

.faq-link {
  height: 422px;
  transition: all 0.3s;
}

.faq-link:hover {
  background-color: #ffffff03;
  transition: all 0.3s;
}

.active.on {
  stroke: #27BC8F;
  stroke-width: 2px;
}

a {
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.lineHeader {
  background-color: var(--while-20);
  height: 2px;
  width: 100%;
  position: fixed;
  top: 116px;
  z-index: 998;
  transition: all 0.3s ease;
}

.triger {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
}

.header.animated {
  margin: 13px 0 10px 0;
  transition: all 0.3s ease;
}

.lineHeader.animated {
  top: 105px;
  transition: all 0.3s ease;
}

.nav-main {
  position: relative;
}

.line1 {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--green);
  top: 61px;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.header-fixed {
  z-index: 993;
}

.nav-main.active .line1 {
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

.line1 {
  transform: scaleX(0.5);
}

.active {
  visibility: visible;
  opacity: 1;
}

.line1.animated {
  transition: all 0.3 ease-in-out;;
  top: 64px;
}



.line {
  width: 100%;
  height: 2px;
  background-color: var(--while-20);
  margin: 10px 0;
}

.faq {
  width: 723px;
}

.p-description {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.3s ease;
}

.p-description.open {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
  margin-top: 24px;
  margin-bottom: 75px;
}

.p-description.closed {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.cont-faq {
  margin: 24px 0 24px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.strelca1 {
  width: 16px;
  height: 16px;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.forest {
  height: 1000px;
  position: absolute;
  right: -800px;
  z-index: 1;
  top: 70px;
  width: 1920px;
}

.container {
  position: relative;
}

.textmain {
  position: relative;
  z-index: 5;
}

.cardsList {
  background-color: #0F0F0F;
  width: 100%;
  position: relative;
  z-index: 3;
}

@keyframes breathing {
  0%, 100% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.circle {
  width: 461.8px;
  height: 461.8px;
  background-color: #53BBBE;
  border-radius: 100%;
  filter: blur(180px);
  position: absolute;
  animation: breathing 3s infinite ease-in-out;
}

.circle1 {
  bottom: 0;
  right: -50;
}

.circle2 {
  bottom: -150px;
  right: 130px;
}

.circle3 {
  right: -170px;
  bottom: 100px;
}

body {
  overflow-x: hidden;
}

/* .pixel {
  background-image: none;
  background-image: url('../public/Rectangle.png');
  background-image: inherit;
  position: absolute;
  background-repeat: repeat;
  bottom: 0;
  right: 0;
  z-index: 1;
  mix-blend-mode: overlay;
} */

.subworld {
  /* transform: scale(0.8); */
  transform-origin: top center;
}

.pixel {
  width: 100000px;
  height: 1000px;
  position: absolute;
  left: -10000px;
  z-index: 1;
}

.cardsList {
  padding-top: 120px;
}

.title-p {
  font-family: "Unbounded-M";
  font-size: 32px;
  color: var(--while-100);
}

.description-p {
  font-family: "Monserrat-M";
  font-size: 24px;
  color: var(--while-80);
}

.description-p {
  margin-bottom: 90px;
}

.loadPost {
  width: 231px;
  height: 70px;
  background-color: #ffffff1f;
  border: none;
  border-radius: 27px;
  justify-content: center;
}

.j {
  display: flex;
  justify-content: center;
}

.loadPost {
  color: #FFFFFF;
  font-family: "Monserrat-M";
  font-size: 23px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.endList {
  background-color: #151515;
}

.CardLike {
  position: absolute;
  background-color: #111111;
  border-radius: 43px;
  padding: 13px 15px 11px;
  left: 0;
}

.cardImage {
  position: relative;
}

.CardLike p {
  font-family: "Unbounded-M";
  font-size: 15px;
  color: white;
  margin: 0;
}

.CardLike {
  display: flex;
}

.CardLike img {
  margin-right: 6px;
}

.endList {
  padding: 120px 0px 0;
}

.discordInfo {
  display: flex;
}

.discordImage {
  width: 700px;
  height: 460px;
  background-color: #ffffff1d;
  border-radius: 27px;
}

.discordInfo {
  margin-top: 93px;
}

.p2 {
  width: 559px;
}

.infoDisdcordP {
  margin-left: 60px;
}

.DiscordTitlle {
  font-family: "Unbounded-B";
  font-size: 36px;
  color: var(--while-100);
  margin: 20px 0 24px 0;
}

.p2 {
  font-size: 24px;
  font-family: "Monserrat-M";
  color: var(--while-80);
  margin: 0;
}

.joinbtndiscord {
  margin-top: 35px;
  width: 244px;
  height: 64px;
  border-radius: 27px;
  border: none;
  background-color: var(--while-10);
  font-family: "Monserrat-M";
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgDiscord {
  margin-left: 14px;
}

.footer {
  transform-origin: bottom center;
  flex-direction: column;
  margin-top: 400px;
}

.ServerCard {
  width: 100%;
  border-radius: 27px;
  border: 2px solid #ffffff10;
  padding: 40px;
}

.pass {
  height: 117px;
  width: 100%;
  margin-bottom: 100px;
}

.online {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--green);
}

.online-p h1 {
  color: var(--while-100);
  font-family: var(--Unbounded-B);
}

.online-p p{
  color: var(--while-60);
  font-family: "Monserrat-M";
  font-size: 22px;
  width: 976px;
  margin: 0;
}

.statusServer p {
  font-size: 20px;
}

.statusServer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0 20px;
}

.ServerCard {
  display: flex;
  gap: 42px;
}

.ServerCard img{
  width: 222px;
  height: 222px;
}

.container {
  flex-wrap: wrap;
}

.header-fixed {
  flex-wrap: wrap;
}  

.header {
  flex-wrap: wrap;
}

.container-header {
  flex-wrap: wrap;
}

.Card {
  width: 650px;
  height: 600px;
  border-radius: 59px;
}

.card-list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.left-svg {
  transform: rotate(180deg);
}

.Card {
  background-repeat: no-repeat;
  position: relative;
  background-size:cover;
}

.p-title {
  font-family: var(--Unbounded-R);
  color: var(--while-100);
  position: absolute;
  top: 55px;
  left: 50px;
  font-size: 36px;
  width: 464px;
  margin: 0;
}

.left-svg {
  position: absolute;
  right: 77px;
  top: 85px;
}

.description-p-card {
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: 0;
  font-family: var(--Monserrat-M);
  font-size: 24px;
  color: #CECECE;
}

.black-text {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0)0%,rgba(0,0,0,1)100%);
  border-radius: 59px;
}

.strelca1, .cont-a, .p-description {
  user-select: none;
}

.Ellipse {
  top: 400px;
  right: -600px;
  position: absolute;
  filter: blur(140px);
}

.btn-style {
  width: 147px;
  height: 46px;
  background-color: #1C1C1C;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}